
<!-- <h4>i am isolate scope i have my own scope.</h4>  -->
<!-- <br> -->
<h3>{{title}} </h3>
<h5 ng-if="title">Click on View to see profile of the employe</h5>
<div class="setwidth left">
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>info</th>
    </tr>
    <tr ng-repeat="emp in employedata">
        <td>{{emp.id}} </td>
        <td>{{emp.name}} </td> 
        <td><a href="" ng-click="getempProfile(emp.id)">View</a></td> 
    </tr>  
</table>
</div>
<div class="setwidth left">
        <table ng-if="allinfoemp.length > 0">
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th> Salary</th>
                    <th>Designation</th>
                </tr>
                <tr ng-repeat="emp in allinfoemp">
                    <td>{{emp.id}} </td>
                    <td>{{emp.name}} </td>
                    <td>{{emp.info.salary}} </td> 
                    <td>{{emp.info.designation}} </td>
                </tr>  
            </table>
</div>